@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

/*Mini reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  line-height: 1.7em;
}

a {
  color: #d9a566;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-block: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */

/*don't break for wide screens */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto; /*always show bg */
  padding: 0 20px;
}

.text-primary {
  color: #d9a566;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #0d0d0d;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #d9a566;
  color: #0d0d0d;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

.btn-outline:hover {
  background: #d9a566;
}

.btn-light {
  background: #f4f4f4;
  color: #0d0d0d;
}

.bg-dark {
  background: #0d0d0d;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #0d0d0d;
}

.bg-primary {
  background: #d9a566;
  color: #0d0d0d;
}

.text-white {
  color: #fff;
}

.clr {
  clear: both;
}

/* Navbar */
#navbar {
  background: #0d0d0d;
  color: #fff;
  overflow: auto;
}

/*logo left*/
#navbar h1 {
  float: left;
  padding-top: 20px;
}

/*menu right */
#navbar ul {
  list-style: none;
  float: right;
}

/* menu horizontal */
#navbar ul li {
  float: left;
}

/* links take up space */
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* add hover styles */
#navbar ul li a:hover,
#navbar ul li a.current {
  background: #332f2e;
  color: #d9a566;
}

/* Jumbotron */
#jumbotron {
  background: url('../img/jumbotron.jpg') no-repeat center center/cover;
  height: 600px;
}

#jumbotron .jumbotron-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#jumbotron .jumbotron-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#jumbotron .jumbotron-content h1.fancy {
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  font-size: 70px;
}

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/photo-1.jpg') no-repeat center center/cover;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content span.fancy-sm {
  font-size: 30px;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Amenities */
#amenities .left,
#amenities .right {
  float: left;
  width: 50%;
}

#amenities .card {
  float: left;
  width: 50%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

#amenities .left {
  padding: 20px;
  line-height: 1.2ems;
}

#amenities .left h2 {
  font-size: 40px;
  margin: 10px 0;
}

#amenities .left h2 span.fancy-sm {
  font-size: 60px;
}
#amenities .left p {
  padding: 10px 0;
}
#amenities .left p.lead {
  color: gray;
  margin: 10px 0;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #0d0d0d;
  border-top: #332f2e 1px solid;
  color: #fff;
  padding: 20px;
}

.fancy-sm {
  font-family: 'Dancing Script', cursive;
}
